<div class="form-group">
  <%= f.button "<i class='fa fa-fw fa-save'></i>保存".html_safe ,type: "button", class: "btn btn-primary save-btn",onclick: "submitForm()"%>
  <%= link_to "<i class='fa fa-fw fa-arrow-left'></i>返回".html_safe,admins_pages_path,class: "btn btn-primary back-btn" %>
</div>
<div class="form-group">
  <label>中文标题:</label>
  <%= f.text_field :title,class: "form-control" ,maxlength: 30 %>
  <%= f.text_area :content ,style: "display:none;" %>
</div>
<label>中文页面内容:</label>
<div id="page-content" style="height: 600px;"></div>

<div class="form-group">
  <label>英文标题:</label>
  <%= f.text_field :en_title,class: "form-control" ,maxlength: 30 %>
  <%= f.text_area :en_content ,style: "display:none;" %>
</div>
<label>英文页面内容:</label>
<div id="en-page-content" style="height: 600px;"></div>