<div class="row">
  <div class="col-lg-12 col-xs-12"><h3 class="page-header"></h3>
    <div class="table-responsive data-list">
      <%= paginate @pages %>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>中文标题</th>
          <th>英文标题</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% if @pages.blank? %>
            <tr>
              <td colspan="5" class="ac">没有数据</td>
            </tr>
        <% else %>
            <% @pages.each do |p| %>
                <tr>
                  <td><%= p.id %></td>
                  <td><%= p.title %></td>
                  <td><%= p.en_title %></td>
                  <td><%= fmt_date(p.created_at) %></td>
                  <td>
                    <%= link_to '预览', admins_page_path(p), class: "btn btn-primary" %>
                    <%= link_to '修改', edit_admins_page_path(p), class: "btn btn-primary" %>
                    <%= link_to '删除', admins_page_path(p), method: :delete, data: {confirm: '确定要删除?'}, class: "btn btn-danger" %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

