<%= render partial: "common/notice_or_error" %>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <h3 class="page-header">页面库列表</h3>
    <div class="paginate-box">
      <span>共:<%= @pages.total_count %>条</span>
      <%= paginate @pages %>
      <div class="cb"></div>
    </div>
    <div class="table-responsive data-list">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>中文标题</th>
          <th>英文标题</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% if @pages.blank? %>
            <%= no_result_show_helper(5) %>
        <% else %>
            <% @pages.each do |p| %>
                <tr>
                  <td><%= p.id %></td>
                  <td><%= p.title %></td>
                  <td><%= p.en_title %></td>
                  <td><%= fmt_date(p.created_at) %></td>
                  <td>
                    <%= link_to '<i class="fa fa-fw fa-eye"></i>预览'.html_safe, "/pages/#{p.id}", class: "btn btn-primary",target: "_blank" %>
                    <%= link_to '<i class="fa fa-fw fa-edit"></i>修改'.html_safe, edit_admins_page_path(p), class: "btn btn-primary" %>
                    <%= link_to '<i class="fa fa-fw fa-trash"></i>删除'.html_safe, admins_page_path(p), method: :delete, data: {confirm: '确定要删除?'}, class: "btn btn-danger" %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

