<div id="wrapper" class="toggled">
  <!--<div class="overlay" style="display: none;"></div>-->

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <%= image_tag "logo.png" %>
      </li>
      <li>
        <a href="/"><i class="fa fa-fw fa-home"></i> 首页</a>
      </li>
      <li>
        <a href="<%= edit_admin_registration_path %>"><i class="fa fa-fw fa-folder"></i> Page one</a>
      </li>
      <li>
        <a href="<%= admins_pages_path %>"><i class="fa fa-fw fa-file-o"></i> 页面库</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-fw fa-cog"></i> Third page</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-fw fa-plus"></i>
          Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Dropdown heading</li>
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="top-nav">
      <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="navbar-r">

        <li>
          <i class="fa fa-user"></i><span class="label admin-name"><%= current_admin.name %></span>
        </li>
        <li>
          <a class="dropdown-toggle count-info msg" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
          </a>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>退出
          <% end %>
        </li>
      </ul>

    </div>

    <div class="container">
      <!--page-content-->
      <%= yield %>
      <!-- page-content-wrapper -->
    </div>
    <div class="go-to-header"><i class="fa fa-fw fa-arrow-up"></i></div>
  </div>
</div>