<div id="wrapper" class="toggled">
  <!--<div class="overlay" style="display: none;"></div>-->

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <%= image_tag "logo.png" %>
      </li>
      <li>
        <a href="/"><i class="fa fa-fw fa-home"></i> 首页</a>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-fw fa-gears"></i>
          管理员管理 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <!--<li class="dropdown-header"></li>-->
          <li><a href="#"><i class="fa fa-fw fa-cog"></i>管理员信息</a></li>
          <li><a href="#"><i class="fa fa-fw fa-cog"></i>密码修改</a></li>
        </ul>
      </li>
      <li>
        <a href="<%= admins_messages_path %>"><i class="fa fa-fw fa-envelope"></i> 留言管理</a>
      </li>
      <li>
        <a href="<%= admins_pages_path %>"><i class="fa fa-fw fa-folder"></i> 页面库</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-fw fa-tags"></i>
          菜单管理 <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <!--<li class="dropdown-header">Dropdown heading</li>-->
          <li><a href="<%= admins_level1_menus_path%>"><i class="fa fa-fw fa-tag"></i>一级菜单</a></li>
          <li><a href="<%= admins_level2_menus_path%>"><i class="fa fa-fw fa-tag"></i>二级菜单</a></li>
          <li><a href="<%= admins_level3_menus_path%>"><i class="fa fa-fw fa-tag"></i>二级菜单</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="top-nav">
      <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="navbar-r">

        <li>
          <i class="fa fa-user"></i><span class="label admin-name"><%= current_admin.name %></span>
        </li>
        <li>
          <a class=" count-info msg" href="<%= admins_messages_path %>">
            <i class="fa fa-envelope"></i>
            <% no_read_count = msg_no_read_count %>
            <% if no_read_count >0 %>
            <span class="label label-warning"><%=no_read_count %></span>
                <% end %>
          </a>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>退出
          <% end %>
        </li>
      </ul>

    </div>

    <div class="container">
      <!--page-content-->
      <%= yield %>
      <!-- page-content-wrapper -->
    </div>
    <div class="go-to-header"><i class="fa fa-fw fa-arrow-up"></i></div>
  </div>
</div>