<!--消息通知-->
<%= render partial: 'common/notice_or_error' %>

<div class="row">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">

    <div class="con">

      <div class="row" style="margin-top:45px;">
        <div class="col-md-6">
          <!-- 反馈表 -->
          <%= form_for @message, url: send_msg_home_index_path, id: 'contactForm' do |f| %>
            
            <span class="help-block">我们致力于提供最高水平的客户服务。请填写以下表单，详细描述您的需求，然后点击（提交）按钮。我们期待能为您提供帮助。</span>
            <br>
            <div class="form-group <%= has_error(@message,'name')%>">
              <label>姓名<span class="pre-flag">*</span></label>
              <%= f.text_field :name,{class:'form-control', placeholder:'必填'} %>
              <label for="message_name" class="control-label"><%= @message.errors["name"] %></label>
            </div>
            <div class="form-group <%= has_error(@message,'company')%>">
              <label>公司/机构名称</label>
              <%= f.text_field :company,{class:'form-control', placeholder:'选填'} %>
              <label for="message_company" class="control-label"><%= @message.errors["company"] %></label>
            </div>
            <div class="form-group <%= has_error(@message,'tel_num')%>">
              <label>联络电话<span class="pre-flag">*</span></label>
              <%= f.text_field :tel_num,{class:'form-control', placeholder:'必填'} %>
              <label for="message_tel_num" class="control-label"><%= @message.errors["tel_num"] %></label>
            </div>
            <div class="form-group <%= has_error(@message,'email')%>">
              <label>电子邮件<span class="pre-flag">*</span></label>
              <%= f.text_field :email,{class:'form-control', placeholder:'必填'} %>
              <label for="message_email" class="control-label"><%= @message.errors["email"] %></label>
            </div>
            <div class="form-group <%= has_error(@message,'msg_type_id')%>">
              <label>主题<span class="pre-flag">*</span></label>
              <%= f.select :msg_type_id, MsgType.all.collect{|m| [m.name, m.id]}.unshift(["请选择",""]),{}, class:"form-control" %>
              <label class="control-label" for="message_msg_type_id"><%= @message.errors["msg_type_id"] %></label>
            </div>
            <div class="form-group <%= has_error(@message,'content')%>">
              <label>详细内容<span class="pre-flag">*</span></label>
              <%= f.text_area :content,{rows:10,placeholder:'必填',class: 'form-control'} %>
              <label class="control-label" for="message_content"><%= @message.errors["content"] %></label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default mb15">提交</button>
            </div>
          <% end %>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <!-- 联系我们内容 -->
          <div>
            <div style="margin: auto; height: 300px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;" id="map"></div>
            <br>
            <p><strong>四川普什醋酸纤维素有限责任公司</strong></p>
            <p>地址：四川省宜宾市长宁县宋家坝工业集中区<br>邮编：644300</p>
            <p>人力资源联系方式：</p>
            <p>谭女士：0831-4633106</p>
            <p>Email：<a href="mailto:hr@pacetati.com">hr@pacetati.com</a></p>
            <p>&nbsp;</p>
            <p>采购联系方式：</p>
            <p>唐女士：0831-4633068</p>
            <p>龙女士：0831-4633112</p>
            <p>&nbsp;</p>
            <p>市场营销联系方式：</p>
            <p>范女士：+86-0831-4633013</p>
            <p>陈女士：+86-0831-4633015</p>
            <p>邮箱：<a href="mailto:info@pacetati.com">info@pacetati.com</a></p>
            <p><%= image_tag "wechat.jpg",{width: 116, height: 118}%></p>
          </div>
        </div>
      </div>



      <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=2g3gNoUjPw1HCyRpYZr8IRYzoCNaDj2y"></script><script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=CzsF67xgx1F0wsWGIjY0dp5I&amp;services=&amp;t=20170411141812"></script>
      <script type="text/javascript">
        //http://api.map.baidu.com/lbsapi/getpoint/index.html 百度拾取坐标系统
        // 百度地图API功能
        var map = new BMap.Map("map");

        map.enableScrollWheelZoom();
        // 显示并居中地图
        map.centerAndZoom(new BMap.Point(121.360347,31.225334), 15);
        // 缩放控件
        map.addControl(new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT }));
        // 比例尺控件
        map.addControl(new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));

        // 标记信息
        var markersInfo = [
          { lng:121.360347, lat:31.225334, content:'<strong>上海敖沣企业发展有限公司</strong><br />地址：上海市天山西路1068号联强国际D座6楼<br />电话：400-062-6600' }
        ];

        // 创建标注
        function addMarker(markersInfo) {
          var marker, point, infoWindow;

          // 添加标志
          point = new BMap.Point(markersInfo.lng, markersInfo.lat);
          marker = new BMap.Marker(point);
          map.addOverlay(marker);
          //创建信息窗口
          var infoWindow = new BMap.InfoWindow(markersInfo.content);
          marker.addEventListener('click', function(){ this.openInfoWindow(infoWindow); });
        }

        for (var i = 0; i < markersInfo.length; i++) {
          addMarker(markersInfo[i]);
        }
      </script>


      <script type="text/javascript">
        $(function() {
          var $form = $('#feedback');
          // $form.formValidation();
        });
      </script>
    </div>

  </div>
  <div class="col-md-1 col-xs-1"></div>
</div>