<!DOCTYPE html>
<html>
<head>

  <title>Empcl</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
  <%= stylesheet_link_tag    'admins/admins', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admins/admins', 'data-turbolinks-track': 'reload' %>

</head>

<body class="gray-bg">
<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">Empcl</h1>

    </div>
    <h3>Welcome to Empcl</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.</p>
    <p>Login in. To see it in action.</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "m-t",role: "form") do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: "form-control",placeholder: "Email",required: "" %>
    </div>
    <p style="text-align: right;">
      <a href="/admin/password/new"><small>忘记密码?</small></a>
    </p>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: "form-control",placeholder: "Password",required: "" %>
    </div>
      <%= f.submit "登录", class: "btn btn-primary block full-width m-b login-btn" %>
    <%end%>
    <p class="m-t">
      <small>CopyRight &copy; <%= Date.today.year%> 李有平 赣ICP备17001675号-1</small>
    </p>
  </div>
</div>

</body>
</html>
<%#= render "admins/shared/links" %>
