<div class="row">
  <div class="col-lg-1 col-xs-1"></div>
  <div class="col-lg-10 col-xs-10">
    <h3 class="page-header">修改密码</h3>
    <%= form_for @admin, {url: "/admin/admins/update_pwd/#{current_admin.id}", role: "form"} do |f| %>

        <div class="form-group">
          <label><span class="pre-flag">*</span>当前密码:</label>
          <%= f.password_field :old_password, autocomplete: "off", class: "form-control",placeholder: ""  %>
          <label class="control-label" ></label>
        </div>
        <div class="form-group">
          <label><span class="pre-flag">*</span>新密码:</label>
          <%= f.password_field :password, autocomplete: "off", class: "form-control",placeholder: ""  %>
          <label class="control-label" ></label>
        </div>
        <div class="form-group">
          <label><span class="pre-flag">*</span>确认密码:</label>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",placeholder: ""  %>
          <label class="control-label" ></label>
        </div>
        <%= f.button "<i class='fa fa-fw fa-save'></i>保存".html_safe ,class: "btn btn-primary save-btn"%>
        <input type="hidden" id="errorsKey" value="<%= @errors %>">
    <% end %>
  </div>
  <div class="col-lg-1 col-xs-1"></div>
</div>