<div class="row">
  <div class="col-lg-1 col-xs-1"></div>
  <div class="col-lg-10 col-xs-10">
    <h3 class="page-header">修改信息</h3>
    <%= form_for @admin, {url: admins_admin_path(@admin), role: "form"} do |f| %>

      <div class="form-group">
        <label><span class="pre-flag">*</span>账户:</label>
        <%= f.email_field :email,class: "form-control"  %>
        <label></label>
      </div>
        <div class="form-group">
          <label><span class="pre-flag">*</span>姓名:</label>
          <%= f.text_field :name,class: "form-control"  %>
          <label></label>
        </div>
        <%= f.button "<i class='fa fa-fw fa-save'></i>保存".html_safe ,class: "btn btn-primary save-btn"%>
        <input type="hidden" id="errorsKey" value="<%= @errors %>">
    <% end %>
  </div>
  <div class="col-lg-1 col-xs-1"></div>
</div>