<div class="row">
  <div class="col-lg-12 col-xs-12">
    <h3 class="page-header">留言列表</h3>
    <div class="paginate-box">
      <span>共:<%= @messages.total_count %>条</span>
      <%= paginate @messages %>
      <div class="cb"></div>
    </div>
    <div class="table-responsive data-list">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>姓名</th>
          <th>公司/组织名</th>
          <th>电话</th>
          <th>邮件</th>
          <th>留言类型</th>
          <th>留言时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% if @messages.blank? %>
            <%= no_result_show_helper(8) %>
        <% else %>
            <% @messages.each do |msg| %>
                <tr>
                  <td><%= msg.name %></td>
                  <td><%= msg.company %></td>
                  <td><%= msg.tel_num %></td>
                  <td><%= msg.email %></td>
                  <td><%= msg.msg_type.name %></td>
                  <td><%= fmt_date(msg.created_at) %></td>
                  <td><%= msg_read_status(msg.read_flag) %></td>
                  <td>
                    <%= link_to '查看', admins_message_path(msg), class: "btn btn-primary" %>
                    <%= link_to '修改', edit_admins_message_path(msg), class: "btn btn-primary" %>
                    <%= link_to '删除', admins_message_path(msg), method: :delete, data: {confirm: '确定要删除?'}, class: "btn btn-danger" %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

