<div class="row">
  <% if getlocal == "zh_CN" %>
  <div class="col-md-12 col-xs-12">
    <div class="dlink"><a href="http://www.pushi.com.cn/InterimPage/NetworkingAcademy.htm" target="_blank"><%= image_tag "link-2.gif" %></a><a href="http://mail.pacetati.com" target="_blank"><%= image_tag "link-6.gif" %></a><a href="http://oa.pushi.com.cn/seeyon/index.jsp" target="_blank"><%= image_tag "link-5.gif" %></a><a href="http://www.pushi.com.cn" target="_blank"><%= image_tag "link-7.gif" %></a></div>
    <div class="footer">
      <div style="display:inline-block;vertical-align:top;">
        <a href="http://www.scgswljg.gov.cn/iciaicweb/dzbscheck.do?method=change&amp;id=51150020150604064673"><%= image_tag "scgswljg.png",alt: "网络经济主体信息" %></a>
      </div>
      <div style="display:inline-block">
        <p>地址：四川省宜宾市长宁县宋家坝工业集中区　　邮编：644300　　电话：400-000-0000　　传真：400-000-0000</p>
        ©2007-<%= Time.now.year %>
        **有限责任公司&nbsp;&nbsp;版权所有
        &nbsp;&nbsp;<a href="/disclaimer" style="font-size:1em;color:#5c5c5c;">免责声明</a>
        &nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">蜀ICP备13456789</a>
        &nbsp;&nbsp;<a href="http://www.chinaido.com" target="_blank">(艾都科技设计制作)</a>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-12 col-xs-12">
    <div class="footer" style="margin-top:20px;">
      ©2007-<%= Time.now.year %>
      Sichuan Push Acetati Co.,Ltd.&nbsp;&nbsp;All rights reserved
      <!--&nbsp;&nbsp;<a href="/en/disclaimer" style="font-size:1em;color:#5c5c5c;">Disclaimer</a>-->
      <!--&nbsp;&nbsp;<a href="http://www.chinaido.com" target="_blank">(Designed by Chinaido)</a></div>-->
      </div>
  </div>
  <% end %>
</div>