<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#example-navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_url %>"><%= image_tag "logo.png"%></a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <div class="menu-box">
      <ul class="nav navbar-nav">
        <% local = getlocal %>
        <% Level1Menu.all.each do |m| %>
            <% if local == "zh_CN" %>
                <% if m.show_type == 0 ||  m.show_type == 1%>
                    <% if m.level2_menus.count == 0 %>
                        <li><a href="<%= change_link(m.link,local) %>"><%=  m.name %></a></li>
                    <% else %>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= m.name %>
                            <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <% m.level2_menus.each do |m2| %>
                                <% if m2.show_type == 0 ||  m2.show_type == 1%>
                                    <% if m2.level3_menus.count == 0 %>
                                        <li><a href="<%= change_link(m2.link,local) %>"><%=  m2.name %></a></li>
                                    <% else %>
                                        <li class="dropdown-submenu">
                                          <a href="javascript:volid(0);"><%=  m2.name %></a>
                                          <ul class="dropdown-menu">
                                            <% m2.level3_menus.each do |m3| %>
                                                <% if m3.show_type == 0 ||  m3.show_type == 1%>
                                                    <li><a href="<%= change_link(m3.link,local) %>"><%=  m3.name %></a></li>
                                                <% end %>
                                            <% end %>
                                          </ul>
                                        </li>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </ul>
                        </li>
                    <% end %>
                <% end %>
            <% elsif local == "en" %>
                <% if m.show_type == 0 ||  m.show_type == 2%>
                    <% if m.level2_menus.count == 0 %>
                        <li><a href="<%= change_link(m.link,local) %>"><%=  m.en_name %></a></li>
                    <% else %>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= m.en_name %>
                            <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <% m.level2_menus.each do |m2| %>
                                <% if m2.show_type == 0 ||  m2.show_type == 2%>
                                    <% if m2.level3_menus.count == 0 %>
                                        <li><a href="<%= change_link(m2.link,local) %>"><%=  m2.en_name %></a></li>
                                    <% else %>
                                        <li class="dropdown-submenu">
                                          <a href="javascript:volid(0);"><%=  m2.en_name %></a>
                                          <ul class="dropdown-menu">
                                            <% m2.level3_menus.each do |m3| %>
                                                <% if m3.show_type == 0 ||  m3.show_type == 2%>
                                                    <li><a href="<%= change_link(m3.link,local) %>"><%=  m3.en_name %></a></li>
                                                <% end %>
                                            <% end %>
                                          </ul>
                                        </li>
                                    <% end %>
                                <% end %>
                            <% end %>
                          </ul>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <li><%= link_to t("version"),@change_url ,id: "change-version" %></li>
      </ul>
      </div>
    </div>
  </div>
</nav>

