<div class="form-group">
  <%= f.button "<i class='fa fa-fw fa-save'></i>保存".html_safe ,class: "btn btn-primary save-btn"%>
  <%= link_to "<i class='fa fa-fw fa-arrow-left'></i>返回".html_safe,admins_level1_menus_path,class: "btn btn-primary back-btn" %>
</div>
<div class="form-group">
  <label><span class="pre-flag">*</span>中文菜单名:</label>
  <%= f.text_field :name,class: "form-control" ,maxlength: 30,placeholder:'必填' %>
  <label class="control-label" for="level1_menu_name"></label>
</div>
<div class="form-group">
  <label><span class="pre-flag">*</span>英文菜单名:</label>
  <%= f.text_field :en_name,class: "form-control" ,maxlength: 30,placeholder:'必填' %>
  <label class="control-label" for="level1_menu_en_name"></label>
</div>
<div class="form-group">
  <label><span class="pre-flag">*</span>显示类型:</label>
  <%= f.select :show_type,[['中英文状态都显示','0'],['只中文状态显示','1'],['只英文状态显示','2']],{},class: "form-control" %>
  <label class="control-label" for="level1_menu_show_type"></label>
</div>
<div class="form-group">
  <label>菜单链接:<span class="pre-flag">(无子菜单链接才有效)</span></label>
  <%= f.text_field :link,class: "form-control"  %>
  <label class="control-label" for="level1_menu_link"></label>
</div>
<input type="hidden" id="errorsKey" value="<%= @errors %>">