<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @level1_menu.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @level1_menu.link %>
</p>



<%= link_to 'Edit', edit_admins_level1_menu_path(@level1_menu) %> |
<%= link_to 'Back', admins_level1_menus_path %>
